# Hedonic Pricing

We often try to predict the price of an asset from its observable characteristics. This is generally called **hedonic pricing**: How do the unit's characteristics determine its market price?

In the lab folder, there are three options: housing prices in pierce_county_house_sales.csv, car prices in cars_hw.csv, and airbnb rental prices in airbnb_hw.csv. If you know of another suitable dataset, please feel free to use that one.

1. Clean the data and perform some EDA and visualization to get to know the data set.
2. Transform your variables --- particularly categorical ones --- for use in your regression analysis.
3. Implement an ~80/~20 train-test split. Put the test data aside.
4. Build some simple linear models that include no transformations or interactions. Fit them, and determine their RMSE and $R^2$ on the both the training and test sets. Which of your models does the best?
5. Include transformations and interactions, and build a more complex model that reflects your ideas about how the features of the asset determine its value. Determine its RMSE and $R^2$ on the training and test sets. How does the more complex model your build compare to the simpler ones?
6. Summarize your results from 1 to 5. Have you learned anything about overfitting and underfitting, or model selection?
7. If you have time, use the sklearn.linear_model.Lasso to regularize your model and select the most predictive features. Which does it select? What are the RMSE and $R^2$? We'll cover the Lasso later in detail in class.

In [20]:
import numpy as np  # Import NumPy
import pandas as pd  # Import Pandas
import seaborn as sns # Import Seaborn

df = pd.read_csv('/home/airbnb_hw (1).csv') # Load the pretrial data
df.head()

price = df['Price']
# price.unique() # there are commas in the prices
price = price.str.replace(',','') # replace commas w/ empty str
price = pd.to_numeric(price,errors='coerce') # Typecast price to float/numeric
# print( price.unique() , '\n')
# print( 'Total missing: ', sum( price.isnull() ) )

# assign price back to the dataframe to update w/ clean vals
df['Price'] = price
df.drop(columns=['Review Scores Rating (bin)'], inplace=True) # dropped bin review scores
df.head(50)

,Host Id,Host Since,Name,Neighbourhood,Property Type,Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
0,5162530,NaN,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,Entire home/apt,11249.0,1.0,1,0,145,NaN
1,33134899,NaN,"Sunny, Private room in Bushwick",Brooklyn,Apartment,Private room,11206.0,1.0,1,1,37,NaN
2,39608626,NaN,Sunny Room in Harlem,Manhattan,Apartment,Private room,10032.0,1.0,1,1,28,NaN
3,500,6/26/2008,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,Entire home/apt,10024.0,3.0,1,0,199,NaN
4,500,6/26/2008,Trendy Times Square Loft,Manhattan,Apartment,Private room,10036.0,3.0,1,39,549,96.0
5,1039,7/25/2008,Big Greenpoint 1BD w/ Skyline View,Brooklyn,Apartment,Entire home/apt,11222.0,1.0,1,4,149,100.0
6,1783,8/12/2008,Amazing Also,Manhattan,Apartment,Entire home/apt,10004.0,1.0,1,9,250,100.0
7,2078,8/15/2008,"Colorful, quiet, & near the subway!",Brooklyn,Apartment,Private room,11201.0,1.0,1,80,90,94.0
8,2339,8/20/2008,East Village Cocoon: 2 Bedroom Flat,Manhattan,Apartment,Entire home/apt,10009.0,2.0,1,95,270,90.0
9,2339,8/20/2008,Lovely 2 Bedroom East Village Nest,Manhattan,Apartment,Entire home/apt,10009.0,2.0,1,23,290,96.0
10,2571,8/27/2008,THE PUTNAM,Brooklyn,Apartment,Entire home/apt,11221.0,2.0,1,14,170,98.0
11,2758,9/6/2008,Stay at Chez Chic budget room #1,Manhattan,Apartment,Private room,10026.0,2.0,1,120,59,93.0
12,2758,9/6/2008,Stay at Chez Chic budget Room #2,Manhattan,Apartment,Private room,10026.0,2.0,1,81,49,91.0
13,2787,9/7/2008,Renovated and spacious townhome,Brooklyn,House,Private room,11223.0,1.0,1,0,68,NaN
14,2845,9/9/2008,Midtown Castle,Manhattan,Apartment,Entire home/apt,10018.0,1.0,1,17,285,97.0
15,2881,9/10/2008,Newly renovated historic brownstone,Brooklyn,Apartment,Private room,11216.0,1.0,1,32,75,95.0
16,2965,9/14/2008,Large Bedroom in 3-bedroom Apt.,Manhattan,Apartment,Private room,10025.0,1.0,1,52,145,99.0
17,3211,9/25/2008,"Elegant NYC, 10mins to Manhattan!",Queens,Apartment,Private room,11106.0,1.0,1,3,100,93.0
18,3227,9/26/2008,"Priv Apt,Garden,BBQ,A/C,BigTV,for 4",Manhattan,Apartment,Entire home/apt,10001.0,3.0,1,171,150,85.0
19,3226,9/26/2008,Great 3 Bed Apt Tribeca / Soho,Manhattan,Apartment,Entire home/apt,10013.0,3.0,1,0,700,NaN
20,3226,9/26/2008,Huge Room Soho LOFT off WBroadway,Manhattan,Apartment,Private room,10013.0,1.0,1,9,125,86.0
21,3226,9/26/2008,Master Room Soho LOFT off WBroadway,Manhattan,Apartment,Private room,10013.0,1.0,1,0,175,NaN
22,3415,10/2/2008,Beautiful Furnished Master Bedroom,Queens,House,Private room,11365.0,1.0,1,0,90,NaN
23,3563,10/10/2008,16' x 11' Furnished BR with Balcony,Brooklyn,Apartment,Private room,11220.0,1.0,1,1,40,100.0
24,3647,10/14/2008,Conveniently Queens with Two Rooms,Queens,Apartment,Entire home/apt,11373.0,1.0,1,4,89,93.0
25,3647,10/14/2008,Quality Cozy Studio Next to Subway,Queens,Apartment,Entire home/apt,11373.0,1.0,1,16,95,94.0
26,3647,10/14/2008,Queens Quality Convenient Apartment,Queens,Apartment,Entire home/apt,11373.0,2.0,1,9,99,100.0
27,3867,10/29/2008,1 Bedroom Apartment in Chinatown!,Manhattan,Apartment,Entire home/apt,10002.0,1.0,1,19,149,93.0
28,3867,10/29/2008,3 bedroom apartment in Chinatown!,Manhattan,Apartment,Entire home/apt,10038.0,4.0,1,2,499,80.0
29,3867,10/29/2008,Private bedroom in spacious loft!,Manhattan,Apartment,Private room,10038.0,4.0,1,0,99,NaN
30,3867,10/29/2008,Share a bedroom in a huge Apartment,Manhattan,Apartment,Shared room,10038.0,1.0,1,0,99,NaN
31,3867,10/29/2008,Share a bedroom in a huge Apartment,Manhattan,Apartment,Shared room,10038.0,1.0,1,0,99,NaN
32,4177,11/9/2008,++ Brooklyn Penthouse Guestroom ++,Brooklyn,Apartment,Private room,11206.0,1.0,1,16,125,94.0
33,4267,11/12/2008,Robin's Nest on the fabulous UWS,Manhattan,Apartment,Entire home/apt,10024.0,2.0,1,28,170,88.0
34,4267,11/12/2008,Airy Room on the fabulous UWS,Manhattan,Apartment,Private room,10024.0,1.0,1,62,120,92.0
35,4396,11/19/2008,"Large Room, Amazing E. Village Apt",Manhattan,Apartment,Private room,10009.0,1.0,1,23,79,89.0
36,4488,11/21/2008,Sunny & Bright Harlem Home,Manhattan,Apartment,Entire home/apt,10027.0,3.0,1,6,125,97.0
37,4732,12/1/2008,A home in the heart of Park Slope,Brooklyn,Apartment,Entire home/apt,11217.0,1.0,1,5,110,92.0
38,4869,12/7/2008,Whole B'stone flr w priv kit & bat,Brooklyn,Other,Private room,11238.0,3.0,1,14,89,85.0
39,5871,12/31/2008,Bergen's Best Short Stay 2!,Brooklyn,Apartment,Entire home/apt,11213.0,3.0,1,12,180,93.0
40,5871,12/31/2008,Bergen's Best!,Brooklyn,Apartment,Entire home/apt,11213.0,3.0,1,5,180,95.0
41,5926,1/2/2009,Charming Central Park Hideaway,Manhattan,Apartment,Entire home/apt,10026.0,1.0,1,23,143,82.0
42,5926,1/2/2009,NYC 2-Bed Apt Mins to Times Square,Manhattan,Apartment,Entire home/apt,10027.0,2.0,1,28,230,89.0
43,5926,1/2/2009,Beautiful Apt with Park Views,Manhattan,Apartment,Entire home/apt,10030.0,5.0,1,40,350,86.0
44,5940,1/2/2009,Comfy 2BR Apt 20 mins to Midtown,Queens,Apartment,Entire home/apt,11368.0,2.0,1,47,135,86.0
45,5926,1/2/2009,Beautiful Room 1 with Park Views,Manhattan,Apartment,Private room,10027.0,1.0,1,9,85,87.0
46,5926,1/2/2009,Beautiful Room 2 with Park Views,Manhattan,Apartment,Private room,10027.0,1.0,1,13,85,91.0
47,5926,1/2/2009,Beautiful Room 3 with Park Views,Manhattan,Apartment,Private room,10027.0,1.0,1,14,85,92.0
48,5926,1/2/2009,Nice Apt Near Columbia University 2,Manhattan,Apartment,Private room,10031.0,1.0,1,35,60,81.0
49,5926,1/2/2009,Nice Apt Near Columbia University 3,Manhattan,Apartment,Private room,10031.0,2.0,1,34,70,82.0